.App {
  text-align: center;
}

.rowJustify {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hcard {
  position: relative;
}

.blur3{
  margin: 10px 19px 10px;
}

.card {
  padding: 10px;
  width: 250px;
  height: 315px;
  margin-bottom: 20px;
  /* margin: 15px 15px 15px; */
}

figure.blur3:hover {
  -webkit-filter: blur(5px);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='blur5'><feGaussianBlur in='SourceGraphic' stdDeviation='5' /></filter></svg>#blur5");
  filter: blur(3px);
  user-select: none;
}

.cardHeader {
  margin-bottom: 25px;
}
/* .btn:hover ~ figure.blur3{
  -webkit-filter: blur(3px);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='blur5'><feGaussianBlur in='SourceGraphic' stdDeviation='5' /></filter></svg>#blur5");
  filter: blur(3px);
  user-select: none;
} */

.hcard:hover .btn {
  opacity: 1;
}

.btn {
  width: 150px;
  padding: 12px;
  text-align: center;
  color: white;
  border: none;
  background-color: black;
  outline: none;
  cursor: pointer;
  position: absolute;
  left: 85px;
  top: 180px;
  opacity: 0;
  transition: opacity 0.35s ease;
}
